@model Squib.Data.Model.Promo
@{
    ViewBag.Title = "Index";
}

<section id="page" class="container">
    <div class="row">

        <!-- Main Col -->
        <div class="main-col col-md-9">

            <div class="panel-body frameLR bg-white shadow mTop-30 mBtm-50">

                <!-- Checkout Accordion -->
                <div class="panel-group checkout" id="accordion">

                    <!-- Panel -->
                    <div class="panel panel-default">
                        <!-- Heading -->
                        <h3>Checkout</h3>
                        <!-- /Heading -->
                        <!-- Collapse -->
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" role="button" style="height: 0px;">

                            <!-- Panel Body -->
                            <div class="panel-body">

                                <!-- Row -->
                                <div class="row">

                                    <!-- Col -->
                                    <div class="col-md-6 mgb-30-xs">
                                        <h6>
                                            New Customer
                                        </h6>
                                        <p>
                                            Dont have an account? Pick one of the options below.
                                        </p>
                                        <div class="radio">
                                            <label>
                                                <input value="" name="acnt-opt" type="radio" checked="">
                                                Register Account
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input value="" name="acnt-opt" type="radio">
                                                Checkout as guest
                                            </label>
                                        </div>
                                        <p>
                                            Register with us for a fast and easy checkout and easy access to your order history and status
                                        </p>
                                        <button class="btn btn-primary btn-raised ripple-effect">
                                            continue
                                        </button>
                                    </div>
                                    <!-- /Col -->
                                    <!-- Col -->
                                    <div class="col-md-6">

                                        <h6>
                                            Sign In
                                        </h6>

                                        <!-- Form -->
                                        <form>
                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>
                                                    Email Address
                                                </label>
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                            <!-- /Form Group -->
                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>
                                                    Password
                                                </label>
                                                <input type="password" class="form-control" placeholder="password">
                                            </div>
                                            <!-- /Form Group -->
                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" value="">
                                                    Remember me
                                                </label>
                                            </div>
                                            <!-- /Form Group -->

                                            <button class="btn btn-primary btn-raised ripple-effect">
                                                sign in
                                            </button>

                                        </form>
                                        <!-- /Form -->

                                    </div>
                                    <!-- /Col -->

                                </div>
                                <!-- /Row -->

                            </div>
                            <!-- /Panel Body -->

                        </div>
                        <!-- /Collapse -->

                    </div>

                    <div class="panel panel-default">
                        <!-- Heading -->
                        <p>@Model.Title</p>
                        <div class="panel-heading heading-iconed">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="" aria-expanded="false">
                                    <i class="icon-left">

                                    </i>
                                    Payment Information
                                </a>
                            </h4>
                        </div>
                        <!-- /Heading -->
                        <!-- Collapse -->
                        <div id="collapseFour" class="panel-collapse collapse in" aria-expanded="false" role="button" style="height: auto;">

                            <!-- Panel Body -->
                            <div class="panel-body">

                                @if (ViewBag.ShowSuccess)
                                {
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">
                                                ×
                                            </span>
                                        </button>
                                        <strong>
                                        </strong>
                                        Payment successful! Thank you.
                                    </div>
                                }

                                <form id="payment-form" method="post" action="/checkout/ProcessPayment">
                                    <input id="promoId" name="promoId" type="hidden" value="@Model.Id">
                                    <input id="quantity" name="quantity" type="hidden" value="@ViewBag.Quantity">
                                    <input id="amount" name="amount" type="hidden" value="@ViewBag.Total">
                                    <input id="nonce" name="payment_method_nonce" type="hidden" />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="bt-dropin">

                                            </div>
                                        </div>
                                    </div>

                                    @if (!ViewBag.ShowSuccess)
                                    {
                                        <hr>
                                        <button class="btn btn-primary btn-raised ripple-effect ">
                                            Place order
                                        </button>
                                        <a class="btn btn-danger btn-raised ripple-effect" href="/">
                                            cancel order
                                        </a>
                                    }
                                </form>
                            </div>
                            <!-- /Panel Body -->
                        </div>
                        <!-- /Collapse -->

                    </div>
                    <!-- /Panel -->

                </div>
                <!-- /Accordion -->

            </div>

        </div>
        <!-- /Main Col -->
        <!-- Side Col -->
        <div class="side-col col-md-3">
            <div class="panel-body frameLR bg-white shadow mTop-30 mBtm-50">
                <!-- Side Widget -->
                <div class="order-summary">
                    <strong class="text-center">@Model.Title</strong>
                    <br /><br />
                    <form method="post">
                        <input type="hidden" name="promoId" value="@Model.Id" />
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quantity</label>
                            <input type="number" class="form-control" name="quantity" placeholder="Quantity" value="@ViewBag.Quantity">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <br /><br />
                    <table id="cart-summary" class="std table">
                        <tbody>
                            <tr>
                                <td>
                                    Price
                                </td>
                                <td class="price" id="total-tax">
                                    $@Model.Price x @ViewBag.Quantity
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total
                                </td>
                                <td class=" site-color" id="total-price">
                                    <b>$@ViewBag.Total</b>
                                </td>
                            </tr>
                        </tbody>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /Side Widget -->
            </div>


        </div>
        <!-- /Side Col -->

    </div>
</section>

@section scripts{
    <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
    <script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
    </script>
}