<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        Kupon - Deals and Coupons bootstrap template
    </title>
    <meta name="generator" content="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="owl.carousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/animsition.css" rel="stylesheet">
    <link href="css/plugins.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">
</head>

<body>
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">

        @Html.Action("Header", "Partial")

        @RenderBody()


        <!-- /#page ends -->
        <div class="cta-box bg-blue-1 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-raised btn-primary ripple-effect btn-lg" data-original-title="" title="">
                            <i class="ti-shopping-cart">
                            </i>
                            &nbsp; Purchase Now
                        </a>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <h3>
                            Welcome to Kupon. Responsive Deal Template
                        </h3>
                        <p>
                            Carefully designed to bring you the best performance, usage and customization experience!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.CTA -->
        <footer id="footer">
            <div class="container">
                <div class="col-sm-4">
                    <img src="images/logo.png" alt="#" class="img-responsive logo">
                    <p>
                        Kupon,travel deals &amp; publishing,with minimal design. We provide you with the latest fresh inspiration straight from the industrie.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h5>
                        COMMON TAGS
                    </h5>
                    <ul class="tags">
                        <li>
                            <a href="#" class="tag">
                                Vacation
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Rentals
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Deals
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Travel deals
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Vacation deals
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Adriatic coast
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Europe
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Island
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>
                        CATEGORIES
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            Vacation Deals
                        </li>
                        <li>
                            Online Deals
                        </li>
                        <li>
                            Digital goods
                        </li>
                        <li>
                            Travel Deals
                        </li>
                        <li>
                            Hotel deals
                        </li>
                        <li>
                            Featured
                        </li>
                        <li>
                            All Categories ..
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>
                        ABOUT US
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            Available Jobs
                        </li>
                        <li>
                            Sumbit Deal
                        </li>
                        <li>
                            Contact Us
                        </li>
                        <li>
                            History
                        </li>
                        <li>
                            Impressium
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btmFooter">
                <div class="container">
                    <div class="col-sm-7">
                        <p>
                            <strong>
                                Copyright 2015
                            </strong>
                            Kupon- deals and Coupons template made with
                            <i class="ti-heart">
                            </i>
                            <strong>
                                by Codenpixel
                            </strong>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <ul class="pay-opt pull-right list-inline list-unstyled">
                            <li>
                                <a href="#" title="#">
                                    <img src="images/amz-icon.png" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="#">
                                    <img src="images/paypal-icon.png" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="#">
                                    <img src="images/ax-icon.png" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="#">
                                    <img src="images/mb-icon.png" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="#">
                                    <img src="images/mst-icon.png" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" title="#">
                                    <img src="images/mstr-icon.png" class="img-responsive" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /animitsion -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Pay For Your order online
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="credit-card-div">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-2">

                                        <select class="form-control">
                                            <option>
                                                Mr.
                                            </option>
                                            <option>
                                                Mrs.
                                            </option>
                                            <option>
                                                Miss.
                                            </option>
                                        </select>

                                    </div>
                                    <div class="col-sm-5">

                                        <input class="form-control" type="text" placeholder="First Name...">

                                    </div>
                                    <div class="col-sm-5">

                                        <input class="form-control" type="text" placeholder="Last Name...">

                                    </div>
                                </div>
                                <!--/ row -->
                                <div class="row">

                                    <div class="col-sm-4">

                                        <input type="text" placeholder="Email address" class="form-control">

                                    </div>
                                    <div class="col-sm-4">

                                        <input type="text" placeholder="Email address repeat" class="form-control">

                                    </div>
                                    <div class="col-sm-4">

                                        <input type="text" placeholder="(+##)-###-###-####" class="form-control">

                                    </div>
                                </div>
                                <!-- / row -->
                                <div class="row">

                                    <div class="col-sm-4">

                                        <input type="text" placeholder="Address" class="form-control">

                                    </div>
                                    <div class="col-sm-4">

                                        <input type="text" placeholder="City" class="form-control">
                                    </div>
                                    <div class="col-sm-4">

                                        <select name="country" class="form-control">
                                            <option value="US">
                                                United States
                                            </option>
                                            <option value="AD">
                                                Andorra
                                            </option>
                                            <option value="AE">
                                                United Arab Emirates
                                            </option>
                                            <option value="AF">
                                                Afghanistan
                                            </option>
                                            <option value="AG">
                                                Antigua and Barbuda
                                            </option>
                                            <option value="AI">
                                                Anguilla
                                            </option>

                                        </select>

                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Enter Card Number">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span class="help-block text-muted small-font">
                                            Expiry Month
                                        </span>
                                        <input type="text" class="form-control" placeholder="MM">
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span class="help-block text-muted small-font">
                                            Expiry Year
                                        </span>
                                        <input type="text" class="form-control" placeholder="YY">
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span class="help-block text-muted small-font">
                                            CCV
                                        </span>
                                        <input type="text" class="form-control" placeholder="CCV">
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="images/paypal-icon.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 pad-adjust">

                                        <input type="text" class="form-control" placeholder="Name On The Card">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <textarea class="col-sm-12" rows="3" placeholder="Special Note,If any">
                    </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pad-adjust">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="" class="text-muted">
                                                Save details for fast payments
                                                <a href="#">
                                                    learn how ?
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                        <input type="submit" class="btn btn-danger btn-raised ripple-effect" value="CANCEL">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                        <input type="submit" class="btn btn-success btn-raised ripple-effect btn-block" value="PAY NOW">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- /.MODAL -->
    <!-- JS files -->
    <script src="js/jquery.min.js">
    </script>
    <script src="js/kupon.js">
    </script>
    <script src="js/bootstrap.min.js">
    </script>
    <script src="js/jquery.animsition.min.js">
    </script>
    <script src="owl.carousel/owl.carousel.js">
    </script>
    <script src="js/jquery.flexslider-min.js">
    </script>
    <script src="js/plugins.js">
    </script>

</body>

</html>





@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
